html {
  font-size: 14pt;
}

body{

  color: white;

}

html,
body {
  background-color: #c48b7a;
}

nav {
  min-height: 10vh;
  top: 0;
  background-color: #c48b7a;
}

nav ul{
    list-style-type: none;
    text-align: center;
    display: none;
    position: absolute;
    top: 7.5vh;
    right: 0;
    background-color: #C48B7A;
    border-radius: 10px;
}

.nav-link {
  color: #F2DED7;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link {
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1em;
  color: #F2DED7;
}

h1,
h2,
h3 {
  font-family: "Rowdies", serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea, iframe{
  border-radius: 5px;
  border: none;
}

textarea{
  min-height: 150px;
  width: 100%;
}

footer{
  background-color: #3a3a3a;
  color: #F2DED7;
}

footer a{
  text-decoration: none;
  color: #6A8D92;
}

footer a:hover{
  color:  #D4DED5;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card{
  background-color: #D8A89A;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,.25);
  position: relative;
}

.card img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card a{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 80%;
  left: 10%;
}

.dropdown {
  text-align: center;
  color: #F2DED7;
  text-transform: uppercase;
  font-weight: bold;
}

.divider {
  height: 3px;
  background-color: #F2DED7	;
  border-radius: 5px;
}

.divider-right {
  position: absolute;
  right: 0;
  bottom: 5vh;
}

.circle-img{
  border-radius: 50%;
}

.primary-button{
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #7b889e  50%, #65748e 50%);
  background-size: 200% 100%;
  background-position: right;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-button{
  border-radius: 25px;
  font-weight: bold;
  background-color: #D4DED5;
}

.nav-button:hover{
  background-color: white;
  color: black;
}

.primary-button:hover{
  background-position: left;
}

.mainWrap{
  min-height: 100vh;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.font{
  font-family: "Rowdies", serif;
}

.offer-card {
  border: none;
  background-color: #e7b8a3;
}

.offer-text {
  font-weight: bold;
  color: #d1b3a4;
}

.publication {
  margin-bottom: 15px;
}

.image-container img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  max-width: 400px;
}

.transition-short{
  transition: .25s;
}


.btn-primary {
  font-size: 0.9em;
  padding: 8px 15px;
}

.img-fluid {
  max-width: 90%;
}

.h-full{
  min-height: 100vh;
}

#visie{
  background-color: #E0E0D5;
  color: #C48B7A;
}

#mainWrap, #contactWrap{
  text-align: center;
  min-height: 90vh;
}

#contactWrap{
  text-align: start;
  color: #F2DED7;
}

#visie, #team {
  min-height: 100vh;
}

#clandy{
  height: 100vh;
}

#team a{
  text-align: center;
}

@media screen and (min-width: 768px){
    nav ul{
        list-style-type: none;
        text-align: center;
        display: none;
        position: inherit;
        top: inherit;
        right: inherit;
    }

    .end{
      text-align: end;
    }
}

